<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:heading {"level":1,"align":"wide"} -->Latest project<!-- /wp:heading -->

    <!-- wp:group {"className":"stats-graph","layout":{"type":"flex","justifyContent":"space-around","alignItems":"flex-end"}} -->
    <div class="wp-block-group stats-graph">
        <div class="stat" data-value="13">
            <div class="bar"></div>
            <div class="label"><span class="stat-number" data-target="13">0</span> customers</div>
        </div>
        <div class="stat" data-value="220000">
            <div class="bar"></div>
            <div class="label"><span class="stat-number" data-target="220000">0</span> USD in sales</div>
        </div>
        <div class="stat" data-value="4">
            <div class="bar"></div>
            <div class="label"><span class="stat-number" data-target="4">0</span> different countries</div>
        </div>
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

